{% extends "partials/layout.twig" %}
{% block content %}
    <h1 class="page-header">Inicio</h1>
    <p class="well">
        Bienvenido a la página principal de <b>Interline</b>, software diseñado para el control de Devoluciones y Cartera.
    </p>
{% endblock %}